rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Only let users read and write their OWN orders
    match /artifacts/{appId}/users/{userId}/orders/{orderId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
  }
}